{% extends "story3/navbar.html" %}
{% load static %}
{% block content %}

<div class="container wrap">
    <h1 class="text-center">Accordion</h1>
    <div class="accordion_area">
        <div class="accordion_box wrapper">
            <h3 class="acc_trigger">Aktivitas <a href="#" class="reorder-up" > <i class="fa fa-chevron-up" aria-hidden="true"></i></a> <a href="#" class="reorder-down"> <i class="fa fa-chevron-down" aria-hidden="true"></i></a></h3>
            <div class="acc_container">
                <p>Sehari-hari berkuliah secara online, dan berbagai hal lainnya yang
                    di dominasi via online.
                </p>
            </div>
        </div>
        <div class="accordion_box wrapper">
            <h3 class="acc_trigger">Pengalaman <a href="#" class="reorder-up" > <i class="fa fa-chevron-up" aria-hidden="true"></i></a> <a href="#" class="reorder-down"> <i class="fa fa-chevron-down" aria-hidden="true"></i></a></h3>
            <div class="acc_container">
                <p>Pengalaman mengikuti beberapa perlombaan dan organisasi.</p>
            </div>
        </div>
        <div class="accordion_box wrapper">
            <h3 class="acc_trigger">Prestasi <a href="#" class="reorder-up" > <i class="fa fa-chevron-up" aria-hidden="true"></i></a> <a href="#" class="reorder-down"> <i class="fa fa-chevron-down" aria-hidden="true"></i></a></h3>
            <div class="acc_container">
                <ul>
                    <li>Juara 3 IT Business Case</li>
                    <li>Podcast Kominfo</li>
                </ul>
            </div>
        </div>
        <div class="accordion_box wrapper">
            <h3 class="acc_trigger">Project <a href="#" class="reorder-up" > <i class="fa fa-chevron-up" aria-hidden="true"></i></a> <a href="#" class="reorder-down"> <i class="fa fa-chevron-down" aria-hidden="true"></i></a></h3>
            <div class="acc_container">
                <p>Sedang mengerjakan beberapa project ditengah sibuknya perkuliahan
                    seperti membuat Website, NGO, dan Data mining.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}