{% extends "story3/navbar.html" %}

{% block content %}
    <div class="container mt-5 form">
        <form id="form" method="POST" action="/story6/post_kegiatan" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group" style="width: 100%; ">
                {{ forms.kegiatan_form.as_p }}
            </div>
            <br>
            <button type="submit" class="btn" style="background-color: #555555; color: white; font-size: 70%;" id="bton">Tambah Kegiatan</button>
        </form>
    <br><br>
    {% for kegiatan in data.kegiatan %}
    <div class="card text-white mb-3" style="max-width: 20rem; text-align: center; margin: 0 auto; float: none; margin-bottom: 10px; padding-bottom : 4%; color: white; background-color: #555555; ">
            <div class="card-header">{{ kegiatan.nama }}</div>
            <div class="card-body text-dark">
                <h5 class="card-title" style="color: white;">Peserta : </h5>
                {% for peserta in data.peserta %}
                    {% if peserta.kegiatan.nama == kegiatan.nama %}
                        <p class="card-text" style="color: white;">{{ peserta.nama }}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <form id="form" method="POST" action="/story6/post_peserta/{{ kegiatan.id }}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ forms.peserta_form.as_p }}
                </div>
                <br>
                <button type="submit" class="btn" style="background-color: white; color: black;" id="bton">Tambah Peserta</button>
            </form>
        </div>
        <br>
    {% endfor %}
    </div>
{% endblock content %}
