{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

     <link rel="stylesheet" href="{% static 'story1/style.css' %}">

    <title>WebKornel</title>
    <link rel = "icon" href = "{% static 'story1/WebKornelIcon.png' %}"> 
</head>
<body>
    <header id="home">
        <div>
          <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
              <div class="container">
                  <a class="navbar-brand" href="/index"><img src="{% static 'story1/WebKornel1.png' %}" alt="WebKornel" class="profilimg"></a>
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon">menu</span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="{% url 'story1:index' %}#home">Home</a>
                      </li>
                      <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="{% url 'story1:index' %}#about">About me</a>
                      </li>
                      <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="{% url 'story1:index' %}#portfolio">Portfolio</a>
                      </li>
                      <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="{% url 'story1:index' %}#contact">Contact</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Fitur</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="{% url 'story5:create' %}" target="blank">Daftar Jadwal</a>
                          <a class="dropdown-item" href="{% url 'story6:activity' %}" target="blank">Daftar Aktivitas</a>
                          <a class="dropdown-item" href="{% url 'story7:story7' %}" target="blank">Cek Accordion</a>
                          <a class="dropdown-item" href="{% url 'story8:story8' %}" target="blank">Daftar Buku</a>
                        </div>
                      </li>
                  </ul>

                  {% if user.is_authenticated %}
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="aa"><span class="glyphicon glyphicon-user"></span>Hi, {{request.user}}</a></li>
                    <li><a href="{% url 'story9:logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                  </ul>
                  {% else %}

                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'story9:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="{% url 'story9:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                  </ul>

                  {% endif %}


                  </div>
              </div>
          </nav>
        </div>
      </header>
      {% block content%}{% endblock%}
      <footer class=" text-white p-3">
        <div class="row">
          <div class="col-md-3 text-center ml-auto p-2">
            <p>WebKornel  &copy; 2020</p>
          </div>
          <div class="col-md-3 mr-auto text-center">
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSKjRVjWMZPrRFJhdmQXWLDxLLLzzJtNNkqQrcpCSZNtnFVzTVRWldhXctdBvGKfKJJtPPdF" target="blank"><img src="{% static 'story1/5.png' %}" class="sosmed img" alt="WebKornel"></a>
            <a href="https://linkedin.com/in/kornelius-tarigan-7369611a3" target="blank"><img src="{% static 'story1/4.png' %}" class="sosmed img" alt="WebKornel"></a>
            <a href="https://www.instagram.com/korneliustarigan_/" target="blank"><img src="{% static 'story1/1.png' %}" class="sosmed img" alt="WebKornel"></a>
          </div>
        </div>
      </footer>
  
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      <script type ="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script type ="text/javascript" src="{% static 'story1/dynamic.js' %}"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>