{% extends "story3/navbar.html" %}
{% load static %}
{% block content%}
    <main>
      <div class="container_3">
        <h1 class="text-center mt-4">Lomba Podcast Kominfo</h1>
        <h3 class="text-center">#CeritaKemerdekaan</h3>
        <div class="text-center mt-5">
            <audio controls>
                <source src="{% static 'story1/Podcast Merefleksikan Kemerdekaan.mp3' %}" type="audio/mpeg">
            </audio>
        </div>
      </div>
    </main>
{% endblock%}
    