{% extends "story3/navbar.html" %}

{% block content %}
    <div class="container form" id="form">
        <h1 class="text-center">Form pendaftaran</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{form.nama_matkul.label_tag}}
            {{form.nama_matkul}}
        </div>
        <div class="form-group">
            {{form.waktu.label_tag}}
            {{form.waktu}}
        </div>
        <div class="form-group">
            {{form.ruangan.label_tag}}
            {{form.ruangan}}
        </div>
        <button type="Submit">Submit</button>
    </form>
    </div>

{% endblock content %}