{% extends "story3/navbar.html" %}
{% block content %}

    <div class="container form">
        <h1 class="text-center">Daftar jadwal kuliah</h1>
        <table class="table mt-5">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Matkul</th>
                <th scope="col">Waktu</th>
                <th scope="col">Ruangan</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
        
                {% for post in daftar_form %}

                <tr>
                    <th scoper="row">{{forloop.counter}}</th>
                    <td>{{post.nama_matkul}}</td>
                    <td>{{post.waktu}}</td>
                    <td>{{post.ruangan}}</td>
                    <td><a class="btn btn-danger" href="{% url 'story5:delete_matkul'  id=post.id %}">Delete</a>
                </tr>

                {% endfor %}

            </tbody>
        </table>
        <a class="btn btn-primary" href="{% url 'story5:create' %}" >Add</a>
    </div>
{% endblock content %}



