{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitae</title>
</head>
<body>
    <fieldset>
        <legend>Curriculum Vitae</legend>
        <embed src="{% static 'story1/Kornelius_tarigan.pdf' %}" type="application/pdf" width="100%" height="700" ></embed>
    </fieldset>
</body>
</html>