{% extends "story1/navbar.html" %}
{% load static %}
{% block content%}
    <main>
      <div class="jumbotron">
        <div class="container">
          <div class="buttonProject">
            <a class="buttoncv" href="/cv" role="button" target="blank">Visit my Curriculum Vitae</a>
            <p>Get the latest project info!</p>
            <a class="btn btn-primary btn-lg" href="/story3" role="button" target="blank">Click here</a>
          </div>
        </div>
      </div>
      <div id="about">
        <h1 class="text-center">About me</h1>
          <div class="container mr-4">
            <div class="card mb-3 " style="max-width: 700px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="{% static 'story1/IDfoto.png' %}" class="card-img img1" alt="kornelius">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><u>Description</u></h5>
                    <p class="card-text">Hi! I'm 19 years old, a student of Universitas Indonesia, majors Information System. My hobbies are playing music and sports.</p>
                    <p>Academic:</p>
                    <pre class="card-text"><small class="text-muted">Universitas Indonesia | 2019-present
SMAN 1 Tigabinanga | 2016-2019
                    </small></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div id="portfolio">
        <h1 class="text-center">Portfolio</h1>
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="card">
                <img src="{% static 'story1/6.png' %}" class="card-img-top" alt="akanda">
                <div class="card-body">
                  <h5 class="card-title text-center"><small class="text-muted">Volunteer</small></h5>
                  <p class="card-text text-center">Front-end Web & Creative Design</p>
                  <a href="https://www.instagram.com/akanda.id/ " class="btn btn-primary ml-3" target="blank">Click here</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <img src="{% static 'story1/podcast.png' %}" class="card-img-top" alt="podcast">
                <div class="card-body">
                  <h5 class="card-title text-center"><small class="text-muted">Winner</small></h5>
                  <p class="card-text text-center">Lomba Podcast Kominfo</p>
                  <a href="/story3" class="btn btn-primary ml-3" target="blank">Click here</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <img src="{% static 'story1/comming soon.png' %}" class="card-img-top" alt="akanda">
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary ml-3">Click here</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <img src="{% static 'story1/comming soon.png' %}" class="card-img-top" alt="akanda">
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary ml-3">Click here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="contact">
        <h1 class="text-center">Contact</h1>
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col col-lg-2 text-right">
              <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSKjRVjWMZPrRFJhdmQXWLDxLLLzzJtNNkqQrcpCSZNtnFVzTVRWldhXctdBvGKfKJJtPPdF" target="blank"><img src="{% static 'story1/5.5.png' %}" class="sosmed img" alt="WebKornel"></a> <br>
              <a href="https://linkedin.com/in/kornelius-tarigan-7369611a3" target="blank"><img src="{% static 'story1/4.4.png' %}" class="sosmed img" alt="WebKornel"></a> <br>
              <a href="https://www.instagram.com/korneliustarigan_/" target="blank"><img src="{% static 'story1/1.1.png' %}" class="sosmed img" alt="WebKornel"></a>
            </div>
            <div class="col-md mr-auto text-left p-2">
              <p>kornelius.sibero@gmail.com</p>
              <p>linkedin.com/in/kornelius-tarigan-7369611a3</p>
              <p>korneliustarigan_</p>
            </div>
          </div>
          </div>
      </div>
    </main>
{% endblock%}