{% extends "story3/navbar.html" %}
{% load static %}
{% block content %}

<div class=" text-center container wrap mt-5">
    <h1>Daftar Buku</h1>
    <input id="seo" placeholder="Masukan judul buku">

        <div class="card mb-3 daftarbuku" style="max-width: 540px;">
            <div class="row card-header">
                <div class="col">
                  <h5>Thumbnail</h5>
                </div>
                <div class="col">
                  <h5>Deskripsi</h5>
                </div> 
            </div><br>
            <div id="tampilan">

            </div>
        </div>
          
</div>

{% endblock content %}